<app-header namepage="Historial de Registros"></app-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <p>No.arribo</p>
            </ion-col>
            <ion-col>
                <p>Transportista</p>
            </ion-col>
            <ion-col>
                <p>Nombre.operador</p>
            </ion-col>
            <ion-col>
                <p>fecha de registro</p>
            </ion-col>
            <ion-col>
                <p>Exportar</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <section class="full-width">
        
        <ion-button expand="full" size="small" color="success">EXPORTAR EXCEL</ion-button>
      </section>

</ion-content>


<app-footer></app-footer>