<app-header namepage="Historial de Registros"></app-header>

<ion-content class="ion-padding">
    <ion-searchbar placeholder="Buscar" showCancelButton="focus"></ion-searchbar>

    <ion-row class="rowborder">
        <ion-col size="2" class="ion-text-center">
            No.arribo
        </ion-col>
        <ion-col size="4" class="ion-text-center">
            Transportista
        </ion-col>
        <ion-col size="2" class="ion-text-center">
            Fecha
        </ion-col>
        <ion-col size="4" class="ion-text-center">
            Acciones
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item>
            <ion-label>10000</ion-label>
            <ion-label>Castores</ion-label>
            <ion-label>23/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>10001</ion-label>
            <ion-label>Castores</ion-label>
            <ion-label>23/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>10002</ion-label>
            <ion-label>Tracusa</ion-label>
            <ion-label>24/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>10003</ion-label>
            <ion-label>Tracusa</ion-label>
            <ion-label>26/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>10004</ion-label>
            <ion-label>Tres Guerras</ion-label>
            <ion-label>27/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>10005</ion-label>
            <ion-label>Julian de Obregon</ion-label>
            <ion-label>28/03/21</ion-label>
            <ion-button size="small" color="secondary">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button size="small" color="tertiary">
                <ion-icon name="document"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <div class="export">
        <ion-button class="button-export" expand="full" color="success" shape="round">
            Exportar Excel
        </ion-button>
    </div>
</ion-content>