<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Firma {{ titulo }}</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-label color="danger" class="ion-padding">
        Cancelar
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="justify">
    Firma de conformidad y enterado de lo señalado en el presente documento. 
    *Al firmar este documento usted declara que las respuestas constan de total veracidad, de lo contrario se tomarán acciones en contra del señalado según se requiera.
  </div>
  <div class="signature-pad">
    <div>
      <canvas class="signature-pad-canvas" #canvas width="900" height="400" style="touch-action: none;"></canvas>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button color="warning" expand="full" (click)="undo()">Retroceder</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="danger" expand="full" (click)="clear()">Limpiar</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="success" expand="full" (click)="save()">Aceptar</ion-button>
      </ion-col>

      <img src="" id="firma">
    </ion-row>
  </ion-grid>
</ion-content>