<app-header namepage="Revisión Externa"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8" class="ion-text-center">
                <ion-text>
                    <h1>Exclusivo Seguridad</h1>
                </ion-text>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <form #outsideFrom="ngForm">
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">1-Camarote</ion-label>
                        <ion-input value="{{ resp1.data }}" (click)="openModalState('1 Camarote', '1')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">2-Motor</ion-label>
                        <ion-input value="{{ resp2.data }}" (click)="openModalState('2 Motor', '2')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">3-Defensa</ion-label>
                        <ion-input value="{{ resp3.data }}" (click)="openModalState('3 Defensa', '3')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">4-Llantas(camión)</ion-label>
                        <ion-input value="{{ resp4.data }}" (click)="openModalState('4 Llantas(camión)', '4')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">5-Tanque combustible</ion-label>
                        <ion-input value="{{ resp5.data }}" (click)="openModalState('5 Tanque combustible', '5')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">6-Quinta rueda</ion-label>
                        <ion-input value="{{ resp6.data }}" (click)="openModalState('6 Quinta rueda', '6')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">7-Llantas remolque</ion-label>
                        <ion-input value="{{ resp7.data }}" (click)="openModalState('7 Llantas remolque', '7')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">8-Bolsas de aire</ion-label>
                        <ion-input value="{{ resp8.data }}" (click)="openModalState('8 Bolsas de aire', '8')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">9-Chasis del camion lado chofer</ion-label>
                        <ion-input value="{{ resp9.data }}"
                            (click)="openModalState('9 Chasis del camion lado chofer', '9')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">10-Puertas remolque</ion-label>
                        <ion-input value="{{ resp10.data }}" (click)="openModalState('10-Puertas remolque', '10')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">11-Bisagras y mecanismos de apertura</ion-label>
                        <ion-input value="{{ resp11.data }}"
                            (click)="openModalState('11 Bisagras y mecanismos de apertura', '11')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">12-Chasis del camion lado copiloto</ion-label>
                        <ion-input value="{{ resp12.data }}"
                            (click)="openModalState('12 Chasis del camion lado copiloto', '12')" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <div class="next">
                <ion-button class="button-next" color="primary" shape="round" routerLink="/tabs/inside-register"
                    disabled='{{status}}'>
                    Siguiente
                </ion-button>
            </div>
        </form>
    </ion-grid>
</ion-content>