<app-header namepage="Revisión Externa"></app-header>

<ion-content [fullscreen]="true">
    <ion-grid>
    <ion-list>
        <ion-item>
            <ion-label>1-Camarote</ion-label>
            <ion-select value="01" okText="Aceptar" cancelText="Cancelar">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>2-Motor</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>3-Defensa</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>4-Llantas(camion)</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select> 
        </ion-item>
        <ion-item>
            <ion-label>5-tanque combustible</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>6-Quinta rueda</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item> 
        <ion-item>
            <ion-label>7-Llantas remolque</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>8-Bolsas de aire</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>9-Chasis del camion lado chofer</ion-label>
            <ion-select value="01">
              <ion-select-option value="01">Bien</ion-select-option>
              <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>10-puertas remolque</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>11-Bisagras y mecanismos de apertura</ion-label>
            <ion-select value="01">
             <ion-select-option value="01">Bien</ion-select-option>
             <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>12-Chasis del camion lado copiloto</ion-label>
            <ion-select value="01">
              <ion-select-option value="01">Bien</ion-select-option>
              <ion-select-option value="02">Mal</ion-select-option>
            </ion-select>
        </ion-item>
   
           

    </ion-list>

    <ion-button color="primary" size="small">
        Siguiente
    </ion-button>

</ion-grid>
</ion-content>


