p{
    background-color: #fff;
    color: black;
    padding: 10px;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-next{
    display: inline-block;
    width: auto;
    margin: 5%;
}