<ion-content color="primary">
<ion-img style="width: 300px; height: 300px;" src="assets/img/logo.png"></ion-img>
<ion-item color= "primary" shape="round">
  <ion-label position="floating">Username</ion-label>
   <ion-input  type="text"></ion-input>
   <ion-icon slot="end" name="person-outline"></ion-icon>
</ion-item>

<ion-item color= "primary" shape="round">
  <ion-label  position="floating">Password</ion-label>
     <ion-input  type="password" required></ion-input>
     <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
   </ion-item> 
<p><ion-button shape="round" expand="block" fill="solid" size="large" 
  color="tertiary">Login</ion-button></p>
</ion-content>