<app-header namepage="Revisión"></app-header>

<ion-content>
 
    <ion-item>
        <ion-label>Registro de vehículo</ion-label>
        <ion-radio value="registro de vehículo" checked></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Parte externa</ion-label>
        <ion-radio value="parte externa"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Parte interna</ion-label>
        <ion-radio value="parte interna"></ion-radio>
    </ion-item>

</ion-content>

<app-footer></app-footer>
