<app-header namepage="Revisión"></app-header>

<ion-content class="ion-padding">
    
    <ion-list>
        <ion-item  routerLink="/tabs/truck-register"  detail>
             <ion-label>Registro de vehículo</ion-label>
             <ion-radio slot="start" value="registro de vehículo"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-list>    
        <ion-item routerLink="/tabs/outside-register" detail>
            <ion-radio slot="start" value="parte externa"></ion-radio>
            <ion-label>Parte externa</ion-label>
        </ion-item>
    </ion-list>
        
    <ion-list> 
        <ion-item routerLink="/tabs/inside-register" detail>       
             <ion-radio slot="start" value="parte interna"></ion-radio>
             <ion-label>Parte interna</ion-label>
        </ion-item>
    </ion-list>

    <div class="add">
      <ion-button class="button-add" routerLink="/tabs/home" shape="round" expand="full" color="warning">
        Añadir registro
      </ion-button>
    </div>

</ion-content>