<app-header namepage="Revisión de Vehículo"></app-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-item shape="round">
                    <ion-label>Fecha: {{ fecha | date: 'dd/MM/yyyy' }}</ion-label>
                    <ion-input readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item shape="round">
                    <ion-label>Hora: {{ fecha | date: 'h:mm:ss a' }}</ion-label>
                    <ion-input readonly></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item shape="round">
                    <ion-label>Número de arribo: 1020</ion-label>
                    <ion-input readonly></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Nombre Guardia</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-button shape="round" (click)="openModalSign('Firma Guardia')" expand="full">Firma Guardia</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Nombre Operador</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-button shape="round" (click)="openModalSign('Firma Operador')" expand="full">Firma Operador</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Compañia Transportista</ion-label>
                    <ion-select okText="Aceptar" cancelText="Cancelar">
                        <ion-select-option value="Castores">Castores</ion-select-option>
                        <ion-select-option value="Tracusa">Tracusa</ion-select-option>
                        <ion-select-option value="Tres Guerras">Tres Guerras</ion-select-option>
                        <ion-select-option value="Julían de Obregon">Julían de Obregon</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Número de Camión</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Número de Caja</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <div class="next">
            <ion-button class="button-next" routerLink="/tabs/outside-register" shape="round">
                Siguiente
            </ion-button>
        </div>
    </ion-grid>
</ion-content>